.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-icon {
  margin: 50px;
  transform: scale(0.6);
}

.title {
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  font-size: 25px;
  color: #fafafa;
  background: #673ab7;
  padding: 3px;
  border-radius: 8px;
}
