
/* -- container -- */
.container {
  position: relative;
  border-radius: 10px;
  background-color: white;
}
.container>div {
  max-height: 100%;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

/* -- mobile-buttons -- */
.mobile-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #8e8e8e;
  min-height: 36px;
  margin: -2px 0 -10px;
}
.mobile-buttons>span {
  flex: 1 1 auto;
}
.mobile-url-button {
  padding: 0;
  transform: translate(-50%) scale(0.8) translate(50%);
}
.mobile-more-button {
  flex: 0 0;
}

/* -- desktop-buttons -- */
.desktop-url-button {
  position: absolute;
  bottom: 8px; left: 8px;
  transform: translate(-50%, 50%) scale(0.8) translate(50%, -50%);
}
.desktop-edit-button {
  position: absolute;
  top: 8px; left: 8px;
  transform: translate(-50%, -50%) scale(0.8) translate(50%, 50%);
}
.desktop-star-button {
  position: absolute;
  top: 8px; right: 8px;
  transform: translate(50%, -50%) scale(0.8) translate(-50%, 50%);
}

/* -- icons -- */
.status-icons {
  position: absolute;
  bottom: 8px; right: 8px;
  transform: translate(50%, 50%) scale(0.6) translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
}
.status-icons .mat-icon {
  border-radius: 50%;
  background-color: #ffffff9e;
  color: #858585;
  margin: 0 2px;
  padding: 5px;
}
.status-icons>.permission .mat-icon {
  background-color: #858585;
  color: #ffffff;
}

/* -- default -- */
.mat-icon-button {
  background-color: #ffffffde;
}
.mat-icon-button:hover {
  background-color: #ffffff;
}
.mat-flat-button {
  color: inherit;
  background-color: #ffffffde;
  border-radius: 18px;
  padding: 0 8px;
  min-width: 0;
}
.mat-flat-button:hover {
  background-color: #ffffff;
}
a {
  color: inherit;
  text-decoration: none;
}

/* -- others -- */
.comment {
  font-size: small;
  color: #8e8e8e;
  margin: 10px 2px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
