<div class="container hide-overflow"
     [style.width.px]="width"
     [style.max-width.px]="maxWidth"
     [style.height.px]="height"
     [style.max-height.px]="maxHeight"
     (mouseenter)="interact?showDesktopIcons=true:null"
     (mouseleave)="interact?showDesktopIcons=false:null">
  <div
    [style.height.px]="height?(height-12):null"
    [style.max-height.px]="maxHeight?(maxHeight-12):null">

    <div class="card-container flex-padding hide-overflow">
      <app-card-preview [node]="node"></app-card-preview>

      <div class="status-icons">
        <mat-icon *ngIf="node.mainData.nsfw">warning</mat-icon>
        <mat-icon *ngIf="node.mainData.hide">visibility_off</mat-icon>
        <mat-icon *ngIf="node.mainData.like">star</mat-icon>
        <div class="permission">
          <mat-icon *ngIf="node.mainData.user!==view.user.id">share</mat-icon>
          <div *ngIf="node.mainData.user===view.user.id">
            <mat-icon *ngIf="node.mainData.permission==='public'">public</mat-icon>
            <mat-icon *ngIf="node.mainData.permission==='protect'">edit</mat-icon>
          </div>
        </div>
      </div>

      <div class="desktop-buttons" *ngIf="!view.isMobile&&showDesktopIcons" (click)="$event.stopPropagation()">
        <a class="desktop-url-button one-line-text" *ngIf="node.mainData.sourceUrl"
           target="_blank" [href]="node.mainData.sourceUrl"
           [style.max-width.px]="maxWidth?maxWidth:width">
          <button mat-flat-button disableRipple>
            <mat-icon>open_in_new</mat-icon>{{node.mainData.sourceUrl|domain}}
          </button>
        </a>
        <a [routerLink]="canWrite?['/node',node.mainData.id,'edit']:null" class="desktop-edit-button">
          <button mat-icon-button disableRipple [disabled]="!canWrite">
            <mat-icon>{{canWrite?'edit':'lock'}}</mat-icon>
          </button>
        </a>
        <button mat-icon-button disableRipple class="desktop-star-button" (click)="openMenu()">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </div>

    <div class="comment flex-fixed" *ngIf="node.mainData.comment">
      {{node.mainData.comment|limit:100}}
    </div>

    <div class="mobile-buttons flex-fixed" *ngIf="view.isMobile" (click)="$event.stopPropagation()"
      [style.margin-top.px]="node.mainData.comment?-12:0">
      <a *ngIf="node.mainData.sourceUrl" [href]="node.mainData.sourceUrl" class="one-line-text">
        <button mat-flat-button disableRipple class="mobile-url-button">
          <mat-icon>open_in_new</mat-icon>{{node.mainData.sourceUrl|domain}}
        </button>
      </a>
      <span></span>
      <mat-icon class="mobile-more-button" (click)="openMenu()">more_horiz</mat-icon>
    </div>

    <div class="overlay" *ngIf="!interact"></div>
  </div>
</div>
