.overlay {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: #00000080;
  z-index: 10;
}

/* ---- overlay container ---- */

.sidebar {
  position: fixed;
  top: 64px;
  bottom: 0;
  width: 30%;
  max-width: 400px;
  z-index: 11;
  cursor: pointer;
}
.left-container {
  left: 0;
}
.right-container {
  right: 0;
}

.overlay>button {
  z-index: 12;
  position: fixed;
  color: white;
  background: #0000008a;
}
.close-button {
  top: 12px; left: 16px;
}

.content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

/* ---- info-container ---- */
.info-button {
  bottom: 12px; left: 16px;
}
.info-container {
  position: fixed;
  top: calc(100vh - 64px);
  left: 0; right: 0;

  padding: 10px 16px 0;
  min-height: 64px;
  z-index: 12;

  color: white;
  background-color: #0000008a;

  overflow-x: hidden;
  overflow-y: auto;
}
.info-container-open {
  top: calc(100vh - 200px);
  bottom: 0;
  padding-bottom: 10px;
}
.info-container .mat-icon-button {
  background: #00000000;
}

.title {
  display: flex;
  align-items: baseline;
}
.title>span {
  font-size: 1.5em;
  font-weight: 500;
}

.description {
  white-space: pre-wrap;
}
.description-not-expend {
  margin: -10px 40px 0;
  color: #b0b0b0;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ---- others ---- */

.preview-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 10px;

  max-width: 250px;
  max-height: 250px;
}
.preview-container-overlay {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: #ffffff66;
}

.nav-button {
  position: fixed;
  top: 50%;
  margin-top: -28px;
  height: 56px;
  width: 56px;
  background: rgba(66,66,66,0.54);
  border-radius: 28px;
}
.nav-button-left {
  left: 28px;
}
.nav-button-right {
  right: 28px;
}
.nav-icon {
  font-size: 36px;
  width: 36px;
  color: white;
}

.mat-progress-spinner {
  z-index: 100;
  position: fixed;
}

