.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000080;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

/* ---- overlay container ---- */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  max-width: 400px;
  z-index: 11;
  cursor: pointer;
}
.left-container {
  left: 0;
}
.right-container {
  right: 0;
}

.toolbar {
  position: fixed;
  z-index: 12;
}

.top-container {
  top: 0;
  left: 0;
  width: 30%;
  height: 64px;
  max-width: 400px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.top-container>.mat-icon-button {
  color: white;
  background: #0000008a;
}

.bottom-container {
  top: calc(100vh - 64px);
  left: 0; right: 0;
  min-height: 64px;
  padding: 10px 16px 0;
  color: white;
  background-color: #0000008a;
  overflow-y: auto;
}
.bottom-container-open {
  top: 200px;
  bottom: 0;
}

.title-container {
  display: flex;
  align-items: baseline;
}
.title-container .mat-icon-button {
  background: #00000000;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
}
.info {
  white-space: pre-wrap;
}

/* ---- others ---- */

.preview-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 10px;

  max-width: 250px;
  max-height: 250px;
}
.preview-container-overlay {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: #ffffff66;
}

.nav-button {
  position: fixed;
  top: 50%;
  margin-top: -28px;
  height: 56px;
  width: 56px;
  background: rgba(66,66,66,0.54);
  border-radius: 28px;
}
.nav-button-left {
  left: 28px;
}
.nav-button-right {
  right: 28px;
}
.nav-icon {
  font-size: 36px;
  width: 36px;
  color: white;
}

.mat-progress-spinner {
  z-index: 100;
  position: fixed;
}

.small {
  color: #b0b0b0;
  font-size: small;
}
