<div class="overlay">

  <div class="left-container sidebar" *ngIf="ids.length>1"
       (swiperight)="showLeftButton=false;showRightButton=false;turnPage(-1)"
       (swipeleft)="showLeftButton=false;showRightButton=false;turnPage(1)"
       (mouseenter)="showLeftButton=true"
       (mouseleave)="showLeftButton=false"
       (mousewheel)="turnPage($event.deltaY / 100)"
       (click)="turnPage(-1)">
    <button mat-icon-button class="nav-button nav-button-left" *ngIf="showLeftButton">
      <mat-icon class="nav-icon">chevron_left</mat-icon>
    </button>
  </div>

  <div class="right-container sidebar" *ngIf="ids.length>1"
       (swiperight)="showLeftButton=false;showRightButton=false;turnPage(-1)"
       (swipeleft)="showLeftButton=false;showRightButton=false;turnPage(1)"
       (mouseenter)="showRightButton=true"
       (mouseleave)="showRightButton=false"
       (mousewheel)="turnPage($event.deltaY / 100)"
       (click)="turnPage(1)">
    <button mat-icon-button class="nav-button nav-button-right" *ngIf="showRightButton">
      <mat-icon class="nav-icon">chevron_right</mat-icon>
    </button>
  </div>

  <button class="close-button" mat-icon-button (click)="close()"><mat-icon>arrow_back</mat-icon></button>
  <button class="info-button" mat-icon-button (click)="showInfo=true;preference.set('node-viewer@showInfo', 'true')" *ngIf="!showInfo"><mat-icon>keyboard_arrow_up</mat-icon></button>

  <div class="info-container" *ngIf="showInfo&&currentNode" (click)="expandInfo=true;preference.set('node-viewer@expandInfo', 'true')"
       [class.info-container-open]="expandInfo">
    <div class="title">
      <button mat-icon-button disableRipple (click)="$event.stopPropagation();toggleExpandInfo()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <span class="flex-padding" [class.single-line]="!expandInfo">
        {{currentNode.mainData.title?currentNode.mainData.title:'Untitled'}}
        <span class="small">{{currentNode.mainData.type}}</span>
      </span>
      <app-node-menu [node]="currentNode" (click)="$event.stopPropagation()" [showMoreButton]="false" [showViewButton]="false">
        <button mat-icon-button><mat-icon>more_horizon</mat-icon></button>
      </app-node-menu>
    </div>
    <mat-divider></mat-divider>
    <div class="description" [class.description-not-expend]="!expandInfo" [class.small]="!expandInfo">
      {{currentNode.mainData.description}}
      <span class="small" *ngIf="!currentNode.mainData.description">no description</span>
    </div>
  </div>

  <div class="content-container" (click)="close()">
    <mat-progress-spinner *ngIf="!currentNode" diameter="64" color="primary" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="currentNode"><app-card-detail [node]="currentNode"></app-card-detail></div>
  </div>

</div>
