<mat-toolbar>
  <button type="button" mat-icon-button (click)="view.back()"><mat-icon>arrow_back</mat-icon></button>
  <span>{{view.config.title}}</span>
  <button color="primary" mat-raised-button (click)="submit()" [disabled]="!data.valid">Save</button>
</mat-toolbar>
<!-- Add Content Here -->
<div class="mat-content">
  <form [formGroup]="data" class="edit-box" novalidate (ngSubmit)="submit()">
    <div class="content">
      <mat-form-field class="full-width row">
        <input required matInput placeholder="Name" maxlength="255" formControlName="name" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="full-width row">
        <input required matInput placeholder="Password" maxlength="255" formControlName="pass" autocomplete="off" type="password">
      </mat-form-field>

      <mat-form-field class="full-width row">
        <input matInput placeholder="E-mail" maxlength="255" formControlName="email" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="full-width row">
        <mat-select required placeholder="Status" formControlName="status">
          <mat-option value="activated">Activated</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="full-width button-box">
        <button mat-raised-button color="primary" type="submit" [disabled]="!data.valid">Save</button>
      </div>
    </div>
  </form>

</div>
