.mat-chip {
  display: flex;
  align-items: center;
}

.special-chip {
  background-color: #ffe57f;
}

.chip-icon {
  color: darkgray;
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.small-text {
  color: darkgray;
  font-weight: 300;
}
