<div class="container hide-overflow"
     [style.width.px]="width"
     [style.max-width.px]="maxWidth"
     [style.height.px]="height"
     [style.max-height.px]="maxHeight"
     (mouseenter)="show=true" (mouseleave)="show=false">
  <div
    [style.height.px]="height?(height-12):null"
    [style.max-height.px]="maxHeight?(maxHeight-12):null">

    <div class="card-container flex-padding hide-overflow">
      <app-card-preview [node]="node"></app-card-preview>

      <div class="desktop-buttons" *ngIf="!view.isMobile&&show" (click)="$event.stopPropagation()">
        <a *ngIf="node.mainData.sourceUrl" [href]="node.mainData.sourceUrl" class="desktop-url-button one-line-text"
           [style.max-width.px]="maxWidth?maxWidth:width">
          <button mat-flat-button disableRipple>
            <mat-icon>open_in_new</mat-icon>{{node.mainData.sourceUrl|domain}}
          </button>
        </a>
        <a [routerLink]="['/node',node.mainData.id,'edit']" class="desktop-edit-button">
          <button mat-icon-button disableRipple><mat-icon>edit</mat-icon></button>
        </a>
        <button mat-icon-button disableRipple class="desktop-star-button" [color]="node.mainData.like?'accent':'black'">
          <mat-icon>star</mat-icon>
        </button>
      </div>

      <div class="icons">
        <mat-icon color="primary" *ngIf="node.mainData.permission!='private'">share</mat-icon>
        <mat-icon color="primary" *ngIf="node.mainData.nsfw">warning</mat-icon>
        <mat-icon color="primary" *ngIf="node.mainData.hide">visibility_off</mat-icon>
        <mat-icon color="primary" *ngIf="node.mainData.like">star</mat-icon>
      </div>
    </div>

    <div class="comment flex-fixed" *ngIf="node.mainData.comment">
      {{node.mainData.comment|limit:100}}
    </div>

    <div class="mobile-buttons flex-fixed" *ngIf="view.isMobile" (click)="$event.stopPropagation()"
      [style.margin-top.px]="node.mainData.comment?-12:0">
      <a *ngIf="node.mainData.sourceUrl" [href]="node.mainData.sourceUrl" class="one-line-text">
        <button mat-flat-button disableRipple class="mobile-url-button">
          <mat-icon>open_in_new</mat-icon>{{node.mainData.sourceUrl|domain}}
        </button>
      </a>
      <span></span>
      <mat-icon class="mobile-more-button" (click)="openMenu()">more_horiz</mat-icon>
    </div>

  </div>
</div>
