<div class="container hide-overflow" [class.container-loading]="loading||error">
  <img [lazyLoad]="image.imageUrl"
       [alt]="image.imageTitle?image.imageTitle:(image.imageUrl|domain)"
       [class.img-loading]="loading"
       [class.img-error]="error"
       (onLoad)="onload(!$event)" (load)="onload(false)">
  <div class="info-layer">
    <div class="flex-padding" *ngIf="image.imageTitle">
      {{image.imageTitle?image.imageTitle:'Untitled Image'}}
    </div>
    <div class="single-line" *ngIf="image.pageTitle">
      {{image.pageTitle?image.pageTitle:'Untitled Page'}}
    </div>
    <a class="single-line" [href]="image.pageUrl" target="_blank" *ngIf="image.pageUrl">
      {{image.pageUrl|domain}}
    </a>
  </div>
</div>
