.container {
  position: relative;
  margin: 5px;
}
.container-loading {
  min-height: 300px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
img:after {
  content: attr(alt);
  font-size: 12px;
  color: #b0b0b0;

  position: absolute;
  top: 162px; bottom: 0; left: 0; right: 0;
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 0 16px;
  word-break: break-word;
}
.img-loading:before {
  content: "Loading...";
  font-size: 18px;
  color: #b0b0b0;

  position: absolute;
  top: 0; bottom: 10px; left: 0; right: 0;
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;
  word-break: break-word;
}
.img-error:before {
  content: "Error";
  font-size: 18px;
  color: #b0b0b0;

  position: absolute;
  top: 0; bottom: 10px; left: 0; right: 0;
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;
  word-break: break-word;
}

.info-layer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  color: #00000000;
  transition: color, background-color 0.5s;

  padding: 10px;
  word-break: break-word;
}
.info-layer:hover {
  color: #e0e0e0;
  background-color: #0000008a;
}

a, a:active {
  color: unset;
}
.source-link, .source-link:active {
  font-size: small;
}
