.container {
  display: inline-block;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  z-index: 100;
}

.mat-card {
  position: fixed;
  width: calc(100% - 64px);
  max-width: 600px;
  z-index: 101;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}
.mat-checkbox {
  margin-right: 12px;
}
.toggles {
  display: flex;
  justify-content: flex-end;
}
.toggles>label {
  margin-left: 12px;
}

.actions {
  display: flex;
  align-items: flex-end;
}
.title {
  font-weight: 500;
}
.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
