<div class="container">
  <button mat-icon-button (click)="isOpen?close():(isOpen=true)">
    <mat-icon matBadgeSize="small" matBadge="!" matBadgePosition="above before" matBadgeColor="accent" [matBadgeHidden]="!isModified">search</mat-icon>
  </button>
  <div *ngIf="isOpen" class="overlay" (click)="close()">
  </div>
  <mat-card *ngIf="isOpen">
    <div class="toggles full-width">
      <span class="title flex-padding">Search</span>
      <label>
        Advanced
        <mat-slide-toggle [checked]="isAdvanced" (change)="isAdvanced=$event.checked;isChanged=true"></mat-slide-toggle>
      </label>
      <label>
        Untagged
        <mat-slide-toggle [checked]="isOnlyUntagged" (change)="isOnlyUntagged=$event.checked;isChanged=true"></mat-slide-toggle>
      </label>
    </div>
    <div>
      <app-keyword-input [placeholder]="isAdvanced?'Or Keywords':'Keywords'" [allTags]="allTags" [selectedItems]="orKeywords" (onChange)="isChanged=true" (onComplete)="close(true)"></app-keyword-input>
      <app-keyword-input *ngIf="isAdvanced" placeholder="And Keywords" [allTags]="allTags" [selectedItems]="andKeywords" (onChange)="isChanged=true" (onComplete)="close(true)"></app-keyword-input>
      <app-keyword-input *ngIf="isAdvanced" placeholder="Not Keywords" [allTags]="allTags" [selectedItems]="notKeywords" (onChange)="isChanged=true" (onComplete)="close(true)"></app-keyword-input>
    </div>
    <form [formGroup]="filter">

      <mat-form-field *ngIf="isAdvanced" class="half-width">
        <mat-select placeholder="Types" formControlName="types" multiple>
          <mat-select-trigger *ngIf="filter.value.types?.length==types.length||filter.value.types?.length==0">All</mat-select-trigger>
          <mat-select-trigger *ngIf="filter.value.types?.length<types.length&&filter.value.types?.length>4">
            {{filter.value.types ? filter.value.types[0] : ''}}
            <span *ngIf="filter.value.types?.length > 1" class="additional-selection">
            (+{{filter.value.types?.length - 1}} {{filter.value.types?.length === 2 ? 'other' : 'others'}})
          </span>
          </mat-select-trigger>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="isAdvanced" class="half-width">
        <mat-select placeholder="Permission" formControlName="permission">
          <mat-option *ngFor="let permission of permissions" [value]="permission">{{permission|uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="full-width">
        <mat-checkbox formControlName="nsfw">Unsafe</mat-checkbox>
        <mat-checkbox formControlName="like">Like</mat-checkbox>
        <mat-checkbox formControlName="hide">Hide</mat-checkbox>
        <mat-checkbox formControlName="cascade">Cascade</mat-checkbox>
      </div>

    </form>
    <mat-card-actions align="end">
      <button mat-icon-button
              [color]="(filter.value.collection=='explode')?'accent':(filter.value.collection==='all'?'primary':null)"
              [matTooltip]="(filter.value.collection|titlecase)+ 'Collection'" (click)="changePart()">
        <mat-icon *ngIf="filter.value.collection=='implode'">list_alt</mat-icon>
        <mat-icon *ngIf="filter.value.collection=='explode'">list</mat-icon>
        <mat-icon *ngIf="filter.value.collection=='all'">clear_all</mat-icon>
      </button>
      <button mat-icon-button
              [color]="(filter.value.nsfw===true&&filter.value.like===false&&filter.value.hide===true)?'accent':null"
              (click)="changeOptions()"><mat-icon>select_all</mat-icon></button>
      <button mat-icon-button
              [color]="(filter.value.permission==='available')?'accent':(filter.value.permission==='others_shared'?'primary':null)"
              (click)="changePermission()"><mat-icon>public</mat-icon></button>
      <button mat-button (click)="reset()">Reset</button>
      <button mat-button (click)="search()">OK</button>
    </mat-card-actions>
  </mat-card>
</div>
