.container {
  display: inline-block;
  position: relative;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-checkbox {
  margin-right: 12px;
}

.mat-card {
  position: fixed;
  width: calc(100% - 64px);
  max-width: 600px;
  z-index: 100;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
}
