<div class="container">
  <button mat-icon-button (click)="open?close():(open=true)">
    <mat-icon matBadgeSize="small" matBadge="!" matBadgePosition="above before" matBadgeColor="accent" [matBadgeHidden]="!modified">filter_list</mat-icon>
  </button>
  <div *ngIf="open" class="overlay" (click)="close()">
  </div>
  <mat-card *ngIf="open">
    <form [formGroup]="data">
      <mat-form-field class="half-width">
        <mat-select placeholder="Types" formControlName="types" multiple>
          <mat-select-trigger *ngIf="data.value.types?.length==types.length||data.value.types?.length==0">All</mat-select-trigger>
          <mat-select-trigger *ngIf="data.value.types?.length<types.length&&data.value.types?.length>4">
            {{data.value.types ? data.value.types[0] : ''}}
            <span *ngIf="data.value.types?.length > 1" class="additional-selection">
            (+{{data.value.types?.length - 1}} {{data.value.types?.length === 2 ? 'other' : 'others'}})
          </span>
          </mat-select-trigger>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-select placeholder="Permission" formControlName="permission">
          <mat-option *ngFor="let permission of permissions" [value]="permission">{{permission|uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="full-width">
        <mat-checkbox formControlName="nsfw">Nsfw</mat-checkbox>
        <mat-checkbox formControlName="like">Like</mat-checkbox>
        <mat-checkbox formControlName="hide">Hide</mat-checkbox>
      </div>
    </form>
    <mat-card-actions align="end">
      <button mat-icon-button
              [color]="(this.data.value.types.length === this.types.length)?'accent':null"
              (click)="changeTypes()"><mat-icon>list</mat-icon></button>
      <button mat-icon-button
              [color]="(this.data.value.nsfw===true&&this.data.value.like===false&&this.data.value.hide===true)?'accent':null"
              (click)="changeOptions()"><mat-icon>select_all</mat-icon></button>
      <button mat-icon-button
              [color]="(this.data.value.permission==='available')?'accent':(this.data.value.permission==='others_shared'?'primary':null)"
              (click)="changePermission()"><mat-icon>public</mat-icon></button>
      <button mat-button (click)="reset();">Reset</button>
      <button mat-button (click)="close();">OK</button>
    </mat-card-actions>
  </mat-card>
</div>
