.img-container {
  position: relative;
  text-align: center;
}

.img-container-loading {
  width: 100%;
  min-height: 200px;
}

.img {
  max-width: 100%;
  margin-bottom: -4px;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(to bottom, transparent, 70%, rgba(0,0,0,.26));
}
