<div class="container">
  <div class="item-container hide-overflow">
    <div class="preview-container hide-overflow" (click)="nodeViewer.openId(node.mainData.id)">
      <app-card-preview [node]="node"></app-card-preview>
    </div>
    <div class="info-container hide-overflow">
      <div class="title">
        {{node.mainData.title?node.mainData.title:'Untitled'}}
        <span class="small">{{node.mainData.type}}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="description">
        {{node.mainData.description}}
        <span class="small" *ngIf="!node.mainData.description">no description</span>
      </div>
      <div class="comment" *ngIf="node.mainData.comment">
        {{node.mainData.comment}}
      </div>
    </div>
  </div>

  <mat-nav-list>

    <a mat-list-item [routerLink]="canWrite?['/node', node.mainData.id,'edit']:null"
       (click)="canWrite?close():null" [class.disabled]="!canWrite">
      <mat-icon>{{canWrite?'edit':'lock'}}</mat-icon>
      <span mat-line>
        Edit<span class="small" *ngIf="!canWrite"> (permission denied)</span>
      </span>
    </a>

    <a mat-list-item (click)="canWrite?delete():null" [class.disabled]="!canWrite">
      <mat-icon>delete</mat-icon>
      <span mat-line>Delete</span>
    </a>

    <a mat-list-item target="_blank" [href]="[node.mainData.source]" *ngIf="node.mainData.source">
      <mat-icon>open_in_new</mat-icon>
      <span mat-line>
        Source<span class="small"> (from {{node.mainData.source|domain}})</span>
      </span>
    </a>

  </mat-nav-list>

  <button mat-icon-button class="close-button" (click)="close()"><mat-icon>close</mat-icon></button>
</div>
