.container {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 10px 0 60px 0;
  overflow: scroll;
  background: #00000080;
}

.title, .description {
  width: calc(100% - 40px);
  color: #ffffffe6;
}
.title {
  margin: 15px auto 25px auto;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.description {
  max-width: 600px;
  margin: 20px auto;
  white-space: pre-wrap;
}

.item-container {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 25px auto;
}
.item-title, .item-description {
  color: #ffffffe6;
  padding: 8px 0 0 0;
  white-space: pre-wrap;
}
