<div class="button-container">
  <button type="button" mat-icon-button (click)="show=!show">
    <mat-icon>{{show?'arrow_drop_down':'arrow_right'}}</mat-icon>
  </button>
  <span class="count-text flex-padding">{{items.length}} {{items.length>1?'items':'item'}}</span>
</div>

<div *ngIf="show">
  <div class="item-container" *ngFor="let item of items; index as i">

    <div class="preview-container" *ngIf="item.status=='new'">
      <a [href]="item.node.extraData.url" target="_blank" *ngIf="item.node.extraData.url">
        <img [src]="item.node.extraData.url" alt=""/>
      </a>
      <span class="flex-padding single-line">
      {{
        item.node.mainData.description ?
          item.node.mainData.description :
          (item.node.extraData.url?(item.node.extraData.url|domain):'New')
        }}
    </span>

      <button type="button" mat-icon-button (click)="editor.hidden=!editor.hidden">
        <mat-icon>{{editor.hidden?'keyboard_arrow_down':'keyboard_arrow_up'}}</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="down(i)" [disabled]="i+1>=items.length"><mat-icon>arrow_drop_down</mat-icon></button>
      <button type="button" mat-icon-button (click)="up(i)" [disabled]="i<=0"><mat-icon>arrow_drop_up</mat-icon></button>
      <button type="button" mat-icon-button (click)="togglePart(i)">
        <mat-icon>{{item.node.mainData.part?'remove_circle_outline':'check_circle'}}</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="items.splice(i, 1)"><mat-icon>delete</mat-icon></button>
    </div>
    <div class="preview-container" *ngIf="item.status!='new'">
      <div class="preview flex-padding hide-overflow">
        <app-card-preview [node]="item.node"></app-card-preview>
      </div>

      <button type="button" mat-icon-button [routerLink]="['/node',item.node.mainData.id,'edit']" [disabled]="!canWrite(item.node)">
        <mat-icon>edit</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="down(i)" [disabled]="i+1>=items.length"><mat-icon>arrow_drop_down</mat-icon></button>
      <button type="button" mat-icon-button (click)="up(i)" [disabled]="i<=0"><mat-icon>arrow_drop_up</mat-icon></button>
      <button type="button" mat-icon-button (click)="togglePart(i)" [disabled]="!canWrite(item.node)||item.node.mainData.part===null">
        <mat-icon>{{(item.node.mainData.part!==null)?(item.node.mainData.part?'remove_circle_outline':'check_circle'):'cloud_circle'}}</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="items.splice(i, 1)"><mat-icon>delete</mat-icon></button>
    </div>

    <div #editor class="editor-container">
      <mat-form-field class="full-width" *ngIf="item.status=='new'">
        <input matInput placeholder="Image URL" maxlength="1023" autocomplete="off"
               [(ngModel)]="item.node.extraData.url" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width" *ngIf="item.status=='new'">
        <input matInput placeholder="Description" maxlength="1023" autocomplete="off"
               [(ngModel)]="item.node.mainData.description" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>

  </div>

  <div class="button-container">
    <button mat-icon-button type="button" (click)="addImage()"><mat-icon>add_photo_alternate</mat-icon></button>
    <span class="flex-padding"></span>
    <div *ngIf="items.length">
      <button type="button" mat-icon-button (click)="toggleAllPart()" [disabled]="updating"><mat-icon>check_circle</mat-icon></button>
      <button type="button" mat-icon-button (click)="items.length=0"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>
