.container {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: scroll;
  background: #00000080;
}
.container-zoom {
  z-index: 100;
}
.container>div {
  padding: 10px 0 30px 0;
  min-height: 90vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.container>div>div {
  max-width: calc(100% - 40px);
  margin: 25px auto;
  height: fit-content;
}

.item-container {
  max-width: 800px;
}
.item-title, .item-description {
  color: #ffffffe6;
  padding: 8px 0 0 0;
  white-space: pre-wrap;
}

.img-container {
  position: relative;
}
.img-container-nozoom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-container-zoom {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 100;
  overflow: scroll;
  background: #00000080;
}
.img-container-loading {
  min-height: 300px;
}

.img-nozoom {
  max-width: 100%;
  max-height: calc(100vh - 150px);
}
.img-zoom {
  min-width: 100vw;
  min-height: 100vh;
}
