.mat-toolbar {
  height: 64px;
}

.tool-container {
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: #8e8e8e;
}

.select-tool>.mat-button {
  border-radius: 20px;
}

.masonry {
  margin: 40px 0;
}

.center-icon {
  cursor: pointer;
}
