<mat-toolbar>

  <div class="title-container" [matMenuTriggerFor]="menu">
    <button type="button" mat-icon-button disableRipple
            (click)="$event.stopPropagation();isHome?null:view.back()"
            (mouseenter)="showBackIcon=true"
            (mouseleave)="showBackIcon=false">
      <mat-icon *ngIf="showBackIcon">{{isHome?'home':'arrow_back'}}</mat-icon>
      <mat-icon *ngIf="!showBackIcon">
        <ng-container [ngSwitch]="path">
          <ng-container *ngSwitchCase="'favorite'">favorite</ng-container>
          <ng-container *ngSwitchCase="'all'">folder</ng-container>
          <ng-container *ngSwitchCase="'untagged'">bookmark</ng-container>
          <ng-container *ngSwitchCase="'type'">{{typeService.getType(data)?.icon}}</ng-container>
          <ng-container *ngSwitchCase="'tag'">style</ng-container>
          <ng-container *ngSwitchCase="'list'">collections</ng-container>
        </ng-container>
      </mat-icon>
    </button>
    <span class="single-line">{{view.config.title}}</span>
  </div>

  <div class="title-padding"></div>

  <app-node-menu [node]="mainNode" *ngIf="mainNode">
    <button mat-icon-button><mat-icon>menu_open</mat-icon></button>
  </app-node-menu>
  <app-clip-menu [node]="mainNode" *ngIf="clipboard.length"></app-clip-menu>
  <app-add-menu></app-add-menu>
  <app-proxy-selector></app-proxy-selector>
  <button type="button" mat-icon-button (click)="view.logout()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<!-- Add Content Here -->
<div class="mat-content">
  <app-node-masonry #masonry [disabled]="disabled" [mainNode]="mainNode"
                    [filter]="filter" [filterFixed]="filterFixed"></app-node-masonry>
</div>

<!-- Add Menu Here -->
<mat-menu #menu xPosition="after" yPosition="below">
  <button mat-menu-item routerLink="/favorite" *ngIf="path!='favorite'"><mat-icon>favorite</mat-icon>Favorite</button>
  <button mat-menu-item routerLink="/all" *ngIf="path!='all'"><mat-icon>folder</mat-icon>All</button>
  <button mat-menu-item routerLink="/untagged" *ngIf="path!='untagged'"><mat-icon>bookmark</mat-icon>Untagged</button>

  <mat-divider></mat-divider>

  <button mat-menu-item [routerLink]="['/type', type.id]" *ngFor="let type of types">
    <mat-icon>{{type.icon}}</mat-icon>{{type.name}}
  </button>
</mat-menu>

