.mat-toolbar {
  height: 64px;
  justify-content: flex-end;
}

.title-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  flex: 0 1 auto;
  min-width: 120px;
}
.title-container>button:hover {
  background-color: unset;
}
.title-padding {
  flex: 1 1 auto;
}
