<mat-toolbar>
  <span>{{view.config.title}}</span>
  <button type="button" mat-icon-button (click)="view.logout()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>
<!-- Add Content Here -->
<div class="mat-content">

  <div class="tool-container">
    <button mat-icon-button *ngIf="!masonry.selectMode" [matMenuTriggerFor]="addMenu"><mat-icon>add</mat-icon></button>
    <mat-menu #addMenu xPosition="before" yPosition="below">

      <button mat-menu-item routerLink="/node/new" *ngFor="let type of types"
              (click)="preference.set('node-edit@type', type.id)">
        <mat-icon>{{type.icon}}</mat-icon>{{type.name}}
      </button>

      <button mat-menu-item (click)="addFromURL()"><mat-icon>link</mat-icon>From URL</button>
    </mat-menu>

    <button mat-icon-button (click)="masonry.enableSelectMode(!masonry.selectMode)">
      <mat-icon>center_focus_weak</mat-icon>
    </button>
    <app-order-filter #orderFilter></app-order-filter>
    <app-tag-filter #tagFilter></app-tag-filter>
    <app-basic-filter #basicFilter></app-basic-filter>
    <button mat-icon-button (click)="fetchData()"><mat-icon>refresh</mat-icon></button>
  </div>
  <div class="tool-container select-tool" *ngIf="masonry.selectMode">

    <button mat-icon-button (click)="masonry.enableSelectMode(!masonry.selectMode)"><mat-icon>close</mat-icon></button>
    <button mat-icon-button (click)="masonry.selectAll()"><mat-icon>select_all</mat-icon></button>

    <button mat-button (click)="tag(true)"><mat-icon>bookmark</mat-icon>Tag</button>
    <button mat-button (click)="star(true)"><mat-icon>star</mat-icon>Star</button>

    <button mat-icon-button [matMenuTriggerFor]="selectMenu"><mat-icon>more_horiz</mat-icon></button>
    <mat-menu #selectMenu xPosition="before" yPosition="below">
      <button mat-menu-item (click)="delete()"><mat-icon>delete</mat-icon>Delete</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="tag(false)"><mat-icon>bookmark_border</mat-icon>Untag</button>
      <button mat-menu-item (click)="star(false)"><mat-icon>star_border</mat-icon>Unstar</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="hide(false)"><mat-icon>visibility</mat-icon>Display</button>
      <button mat-menu-item (click)="hide(true)"><mat-icon>visibility_off</mat-icon>Hide</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="permission('public')"><mat-icon>public</mat-icon>Public</button>
      <button mat-menu-item (click)="permission('protect')"><mat-icon>edit</mat-icon>Protect</button>
      <button mat-menu-item (click)="permission('private')"><mat-icon>person</mat-icon>Private</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>library_add_check</mat-icon>{{masonry.selectCount?'Selected: '+masonry.selectCount:'No selected'}}
      </button>
    </mat-menu>
  </div>

  <div class="masonry">

    <app-masonry #masonryRef [template]="template"></app-masonry>
    <ng-template #template let-data="data">
      <app-node-card (click)="click(data)" [interact]="!masonry.selectMode" [node]="data" [maxHeight]="500"></app-node-card>
    </ng-template>

  </div>

  <mat-icon class="center-icon big-icon" *ngIf="error" (click)="fetchData()">refresh</mat-icon>
  <span class="center-info" *ngIf="error">Reload</span>
</div>

<mat-icon class="center-icon big-icon" *ngIf="!masonry.items.length">info</mat-icon>
<span class="center-info" *ngIf="!masonry.items.length">Empty Directory</span>

