<mat-toolbar>
  <span>{{view.config.title}}</span>
  <button type="button" mat-icon-button (click)="view.logout()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>
<!-- Add Content Here -->
<div class="mat-content">

  <div class="tool-container">
    <button mat-icon-button *ngIf="!masonry.selectMode" routerLink="/node/new"><mat-icon>add</mat-icon></button>
    <button mat-icon-button (click)="masonry.enableSelectMode(!masonry.selectMode)">
      <mat-icon>center_focus_weak</mat-icon>
    </button>
    <app-order-selector></app-order-selector>
    <app-filter #filter></app-filter>
    <button mat-icon-button (click)="fetchData()"><mat-icon>refresh</mat-icon></button>
  </div>
  <div class="tool-container select-tool" *ngIf="masonry.selectMode">

    <button mat-icon-button (click)="masonry.enableSelectMode(!masonry.selectMode)"><mat-icon>close</mat-icon></button>
    <button mat-icon-button (click)="masonry.selectAll()"><mat-icon>select_all</mat-icon></button>

    <button mat-button (click)="tag()"><mat-icon>style</mat-icon>Tag</button>
    <button mat-button (click)="star()"><mat-icon>star</mat-icon>Star</button>

    <button mat-icon-button [matMenuTriggerFor]="matMenu"><mat-icon>more_horiz</mat-icon></button>
    <mat-menu #matMenu xPosition="before" yPosition="below">
      <button mat-menu-item>
        <mat-icon>library_add_check</mat-icon>{{masonry.selectCount?'Selected: '+masonry.selectCount:'No selected'}}
      </button>
      <button mat-menu-item (click)="delete()"><mat-icon>delete</mat-icon>Delete</button>
    </mat-menu>
  </div>

  <div class="masonry">
    <app-masonry #masonry></app-masonry>
  </div>

  <mat-icon class="center-icon big-icon" *ngIf="error" (click)="fetchData()">refresh</mat-icon>
  <span class="center-info" *ngIf="error">Reload</span>
</div>

