.mat-toolbar {
  height: 64px;
  justify-content: flex-end;
}

.link-container {
  display: flex;
}

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 100px;
  margin: 10px;

  font-size: large;
  color: white;
  background-color: darkgray;

  cursor: pointer;
}
