<form [formGroup]="imageData" class="edit-box">

  <mat-form-field class="full-width">
    <input required matInput placeholder="Image URL" maxlength="255" formControlName="url" autocomplete="off"/>
  </mat-form-field>

  <mat-form-field class="half-width">
    <input matInput placeholder="Image type" maxlength="255" formControlName="type" autocomplete="off"/>
  </mat-form-field>
  <mat-form-field class="half-width">
    <input matInput placeholder="Image author" maxlength="255" formControlName="author" autocomplete="off"/>
  </mat-form-field>

  <mat-form-field class="half-width">
    <input matInput placeholder="Image gallery" maxlength="255" formControlName="gallery" autocomplete="off"/>
  </mat-form-field>
  <mat-form-field class="half-width">
    <input matInput placeholder="Image source" maxlength="255" formControlName="source" autocomplete="off"/>
  </mat-form-field>

</form>
