<ngx-masonry #masonry class="container" [options]="masonryOptions" [useImagesLoaded]="false" [updateLayout]="false"
             [style.width.px]="containerWidth">
  <ngxMasonryItem *ngFor="let item of items"
                  [style.width]="view.isMobile?'50%':columnWidth+'px'">
    <div class="item-container"
         [class.item-container-select-mode]="selectMode"
         [class.item-container-selected]="item.selected">

      <ng-container *ngTemplateOutlet="template; context: {data: item.data}"></ng-container>

      <div class="item-overlay" (click)="item.selected=!item.selected;selectCount=selectCount+(item.selected?1:-1);" *ngIf="selectMode"
           [class.item-overlay-selected]="item.selected"></div>
    </div>
  </ngxMasonryItem>
</ngx-masonry>
