<button type="button" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon matBadgeSize="small" matBadgeColor="accent" matBadgePosition="above before"
            [matBadge]="clipboard.length.toString()">assignment</mat-icon>
</button>

<mat-menu #menu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="add()" *ngIf="node">
    <mat-icon>add_circle_outline</mat-icon>Add</button>
  <button mat-menu-item (click)="remove()" *ngIf="node">
    <mat-icon>remove_circle_outline</mat-icon>Remove</button>
  <button mat-menu-item (click)="newList()">
    <mat-icon>playlist_add</mat-icon>New List</button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="clipboard.clear()">
    <mat-icon>library_add_check</mat-icon>{{clipboard.length?'Clipped: '+clipboard.length:'No clipped'}}
  </button>

  <button mat-menu-item (click)="clipboard.setFixed(!clipboard.fixed)">
    <mat-icon>{{clipboard.fixed?'lock':'lock_open'}}</mat-icon>
    {{clipboard.fixed?'Fixed':'Not Fixed'}}
  </button>
</mat-menu>
