.container {
  position: absolute;;
  width: 100%;
}
.container>div {
  margin-left: auto;
  margin-right: auto;
}

.center-container {
  top: 28vh;
}
.up-container {
  top: 10vh;
}

.text {
  width: fit-content;
  max-width: 80%;
  font-size: 22px;
  margin-bottom: 64px;
}
.title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

ul {
  width: calc(80vw);
  max-width: 300px;
  margin: 12px auto;
  padding: 8px;
}
li {
  font-size: 0.8em;
  margin-bottom: 8px;
  list-style: none;
  padding: 0;
}
small {
  color: gray;
}

.node-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.wrap {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
.wrap>div {
  position: absolute;
  border: 3px solid #000000;
}
.spinner1 {
  width: 100%;
  height: 100%;
  animation: spin 2000ms infinite linear;
}
.spinner2 {
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  animation: spin 2000ms infinite linear reverse;
}
@keyframes spin {
  0%   { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
