<div class="container">
  <div class="tool-container">
    <button mat-icon-button (click)="toggleSelectMode()"><mat-icon>check_circle_outline</mat-icon></button>
    <app-order-selector></app-order-selector>
    <app-search-filter [hidden]="filterFixed" #searchFilter></app-search-filter>
    <app-basic-filter [hidden]="filterFixed" #basicFilter></app-basic-filter>
    <button mat-icon-button (click)="view.loading?stopFetchData():fetchData()">
      <mat-icon>{{view.loading?'close':'refresh'}}</mat-icon>
    </button>
  </div>
  <div class="tool-container select-tool" *ngIf="masonry.selectMode">

    <button mat-icon-button (click)="toggleSelectMode()"><mat-icon>close</mat-icon></button>
    <button class="text-button" mat-button (click)="masonry.selectAll()">
      <mat-icon>{{masonry.selectCount?'check_circle':'check_circle_outline'}}</mat-icon>
      {{masonry.selectCount?'Selected: '+masonry.selectCount:'No selected'}}
    </button>

    <button mat-icon-button [matMenuTriggerFor]="addMenu"><mat-icon>add_circle</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="removeMenu"><mat-icon>remove_circle</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="moreMenu"><mat-icon>more_horiz</mat-icon></button>
  </div>

  <div class="masonry-container">
    <app-masonry #masonryRef [template]="template"></app-masonry>
    <ng-template #template let-data="data" let-index="index">
      <app-node-card (click)="click(data, index)"
                     [lazyload]="true"
                     [interact]="!masonry.selectMode"
                     [node]="data" [maxHeight]="500"></app-node-card>
    </ng-template>
  </div>

  <mat-icon class="center-icon big-icon" *ngIf="!masonry.items.length">{{error?'error':'info'}}</mat-icon>
  <span class="center-info" *ngIf="!masonry.items.length">{{error?'Unknown Error':'Empty List'}}</span>
</div>

<!-- Add Menu -->
<mat-menu #addMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="clip('set')"><mat-icon>assignment</mat-icon>Clipboard</button>
  <button mat-menu-item (click)="tag(true)"><mat-icon>bookmark</mat-icon>Tag</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="clip('add')"><mat-icon>assignment_returned</mat-icon>Clipboard</button>
  <button mat-menu-item (click)="collection(true, targetNode)" *ngFor="let targetNode of targetNodes">
    <mat-icon>add_circle_outline</mat-icon>
    <i>{{targetNode.mainData.type|titlecase}}<span class="small">#{{targetNode.mainData.title}}</span></i>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="star(true)"><mat-icon>star</mat-icon>Star</button>
  <button mat-menu-item (click)="hide(false)"><mat-icon>visibility</mat-icon>Display</button>
  <button mat-menu-item (click)="safe(true)"><mat-icon>report</mat-icon>Safe</button>
</mat-menu>

<!-- Remove Menu -->
<mat-menu #removeMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="collection(false, mainNode)" *ngIf="mainNode">
    <mat-icon>remove_circle</mat-icon>This {{mainNode.mainData.type|titlecase}} <i class="small">#{{mainNode.mainData.id}}</i>
  </button>
  <button mat-menu-item (click)="tag(false)"><mat-icon>bookmark_border</mat-icon>Untag</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="clip('remove')"><mat-icon>assignment_return</mat-icon>Clipboard</button>
  <button mat-menu-item (click)="collection(false, targetNode)" *ngFor="let targetNode of targetNodes">
    <mat-icon>remove_circle_outline</mat-icon>
    <i>{{targetNode.mainData.type|titlecase}}<span class="small">#{{targetNode.mainData.title}}</span></i>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="star(false)"><mat-icon>star_border</mat-icon>Unstar</button>
  <button mat-menu-item (click)="hide(true)"><mat-icon>visibility_off</mat-icon>Hide</button>
  <button mat-menu-item (click)="safe(false)"><mat-icon>report_off</mat-icon>Unsafe</button>
</mat-menu>

<!-- More Menus -->
<mat-menu #moreMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="delete()"><mat-icon>delete</mat-icon>Delete</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="clipMenu"><mat-icon>assignment</mat-icon>Clip</button>
  <button mat-menu-item [matMenuTriggerFor]="tagMenu"><mat-icon>bookmark</mat-icon>Tag</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="starMenu"><mat-icon>star</mat-icon>Star</button>
  <button mat-menu-item [matMenuTriggerFor]="hideMenu"><mat-icon>visibility</mat-icon>Visibility</button>
  <button mat-menu-item [matMenuTriggerFor]="safeMenu"><mat-icon>report</mat-icon>Safety</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="permissionMenu"><mat-icon>person</mat-icon>Permission</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="createMenu"><mat-icon>playlist_add</mat-icon>Create</button>
</mat-menu>
<mat-menu #clipMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="clip('set')"><mat-icon>assignment</mat-icon>Clipboard</button>

  <ng-container *ngIf="clipboard.length">
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="clip('add')"><mat-icon>assignment_returned</mat-icon>Add</button>
    <button mat-menu-item (click)="clip('remove')"><mat-icon>assignment_return</mat-icon>Remove</button>
  </ng-container>

  <ng-container *ngFor="let targetNode of targetNodes">
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="collection(true, targetNode)">
      <mat-icon>add_circle_outline</mat-icon>
      Add to <i>{{targetNode.mainData.type|titlecase}}<span class="small">#{{targetNode.mainData.title}}</span></i>
    </button>
    <button mat-menu-item (click)="collection(false, targetNode)">
      <mat-icon>remove_circle_outline</mat-icon>
      Remove from <i>{{targetNode.mainData.type|titlecase}}<span class="small">#{{targetNode.mainData.title}}</span></i>
    </button>
  </ng-container>
</mat-menu>
<mat-menu #tagMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="tag(true)"><mat-icon>bookmark</mat-icon>Tag</button>
  <button mat-menu-item (click)="tag(false)"><mat-icon>bookmark_border</mat-icon>Untag</button>
</mat-menu>
<mat-menu #starMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="star(true)"><mat-icon>star</mat-icon>Star</button>
  <button mat-menu-item (click)="star(false)"><mat-icon>star_border</mat-icon>Unstar</button>
</mat-menu>
<mat-menu #hideMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="hide(false)"><mat-icon>visibility</mat-icon>Display</button>
  <button mat-menu-item (click)="hide(true)"><mat-icon>visibility_off</mat-icon>Hide</button>
</mat-menu>
<mat-menu #safeMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="safe(true)"><mat-icon>report</mat-icon>Safe</button>
  <button mat-menu-item (click)="safe(false)"><mat-icon>report_off</mat-icon>Unsafe</button>
</mat-menu>
<mat-menu #permissionMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="permission('public')"><mat-icon>public</mat-icon>Public</button>
  <button mat-menu-item (click)="permission('protect')"><mat-icon>edit</mat-icon>Protect</button>
  <button mat-menu-item (click)="permission('private')"><mat-icon>person</mat-icon>Private</button>
</mat-menu>
<mat-menu #createMenu xPosition="before" yPosition="below">
  <button mat-menu-item (click)="create('List')"><mat-icon>playlist_add</mat-icon>New List</button>
  <button mat-menu-item (click)="create('Collection')"><mat-icon>playlist_add</mat-icon>New Collection</button>
</mat-menu>
