<mat-toolbar>
  <button type="button" mat-icon-button (click)="view.back()"><mat-icon>arrow_back</mat-icon></button>
  <span>{{view.config.title}}</span>
  <button color="primary" mat-raised-button (click)="submit()" [disabled]="!valid">Save</button>
</mat-toolbar>
<!-- Add Content Here -->
<div class="mat-content">
  <form [formGroup]="mainData" class="edit-box" novalidate (ngSubmit)="submit()">
    <div class="content">

      <mat-form-field class="full-width">
        <input matInput placeholder="Title" maxlength="255" formControlName="title" autocomplete="off">
      </mat-form-field>

      <div class="full-width">
        <mat-form-field class="half-width">
          <mat-select required placeholder="Type" formControlName="type" [disabled]="mainData.value.id">
            <mat-option *ngFor="let type of types" [value]="type|lowercase">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-select required placeholder="Permission" formControlName="permission">
            <mat-option *ngFor="let permission of permissions" [value]="permission|lowercase">{{permission}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-extra-data-edit #extraDataEdit [type]="mainData.value.type"></app-extra-data-edit>

      <mat-form-field class="full-width">
        <input matInput placeholder="Source Url" maxlength="255" formControlName="sourceUrl" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Comment" maxlength="255" formControlName="comment" autocomplete="off"></textarea>
      </mat-form-field>

      <div class="full-width">
        <mat-checkbox formControlName="nsfw">Nsfw</mat-checkbox>
        <mat-checkbox formControlName="like">Like</mat-checkbox>
        <mat-checkbox formControlName="hide">Hide</mat-checkbox>
      </div>

      <div class="full-width">
        <mat-checkbox formControlName="linkDelete">LinkDelete</mat-checkbox>
        <mat-checkbox formControlName="linkVirtual">LinkVirtual</mat-checkbox>
      </div>

      <div class="full-width button-box">
        <button type="button" mat-raised-button (click)="delete()" *ngIf="mainData.value.id">Delete</button>
        <button type="button" color="primary" mat-raised-button (click)="submit()" [disabled]="!valid">Save</button>
      </div>
    </div>
  </form>
</div>
