<form [formGroup]="loginData" novalidate (ngSubmit)="login()" class="container">
  <mat-card class="login-card">
    <div>
      <div class="align-center icon">
        <mat-icon [inline]="true" [routerLink]="[view.admin?'/login':'/admin/login']">person</mat-icon>
      </div>
      <mat-card-content>
        <div class="row" *ngIf="!view.admin">
          <mat-form-field class="full-width">
            <input matInput placeholder="User" formControlName="name">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" formControlName="pass">
          </mat-form-field>
        </div>
      </mat-card-content>
      <div class="align-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="view.loading">Login</button>
      </div>
    </div>
  </mat-card>
</form>
