<div class="container">
  <button mat-icon-button (click)="open?close():(open=true)">
    <mat-icon matBadgeSize="small" matBadge="!" matBadgePosition="above before" matBadgeColor="accent" [matBadgeHidden]="!modified">style</mat-icon>
  </button>
  <div *ngIf="open" class="overlay" (click)="close()">
  </div>
  <mat-card *ngIf="open">
    <div class="toggles full-width">
      <span class="title flex-padding">Tag filter</span>
      <label>
        No tag
        <mat-slide-toggle [checked]="notAll" (change)="notAll=$event.checked;changed=true"></mat-slide-toggle>
      </label>
    </div>
    <div>
      <app-tag-input placeholder="Or Tags" [disabled]="notAll" [allTags]="allTags" [selectedItems]="orTags" (onChange)="changed=true"></app-tag-input>
      <app-tag-input placeholder="And Tags" [disabled]="notAll" [allTags]="allTags" [selectedItems]="andTags" (onChange)="changed=true"></app-tag-input>
      <app-tag-input placeholder="Non Tags" [disabled]="notAll" [allTags]="allTags" [selectedItems]="notTags" (onChange)="changed=true"></app-tag-input>
    </div>
    <mat-card-actions align="end">
      <button mat-button (click)="reset()">Reset</button>
      <button mat-button (click)="close()">OK</button>
    </mat-card-actions>
  </mat-card>
</div>
