<div class="container">
  <div class="title-container flex-fixed">
    <span class="flex-padding">{{title}}</span>
    <button class="flex-fixed" mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
  </div>
  <div class="input-container flex-fixed full-width" (click)="showInputBox=true;">
    <mat-icon *ngIf="!showInputBox">add</mat-icon>
    <div *ngIf="!showInputBox">
      <p class="title" matLine>New Tag</p>
      <p class="info" matLine></p>
    </div>
    <mat-form-field class="full-width input-box" *ngIf="showInputBox">
      <input matInput #title [disabled]="view.loading" placeholder="Tag Title" maxlength="255">
      <button matSuffix mat-icon-button [disabled]="view.loading" (click)="create(title.value)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="list-container flex-padding" *ngIf="!multiple">
    <mat-action-list>
      <mat-list-item class="item-container" (click)="selectTag(tag)" *ngFor="let tag of tags">
        <div class="image" [style.background-image]="'url(\'/favicon.ico\')'"></div>
        <div>
          <p class="title" matLine>{{tag.mainData.title}}</p>
          <p class="info" matLine>{{tag.mainData.description}}</p>
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <div class="list-container flex-padding" *ngIf="multiple">
    <mat-selection-list #selectList>
      <mat-list-option class="item-container" [selected]="isSelected(tag)" [value]="tag" *ngFor="let tag of tags">
        <div>
          <p class="title" matLine>{{tag.mainData.title}}</p>
          <p class="info" matLine>
            <span *ngIf="tag.mainData.user!==view.user.id">
              <mat-icon>public</mat-icon>
              from other user
            </span>
            <span *ngIf="tag.mainData.user===view.user.id&&tag.mainData.permission!=='private'">
              <mat-icon>share</mat-icon>
              {{tag.mainData.permission}}
            </span>
          </p>
        </div>
      </mat-list-option>
    </mat-selection-list>
    <div class="button-container">
      <button mat-button (click)="selectList.deselectAll()">Clear</button>
      <button mat-button (click)="selectTags(selectList.selectedOptions.selected)">OK</button>
    </div>
  </div>
</div>
