<mat-toolbar>

  <!-- main mode -->
  <ng-container class="tool-container select-tool" *ngIf="!masonry.selectMode">
    <button type="button" mat-icon-button disableRipple><mat-icon>favorite</mat-icon></button>
    <span class="flex-padding">{{view.config.title}}</span>
    <button type="button" mat-icon-button (click)="masonry.toggleSelectMode()"><mat-icon>check_circle_outline</mat-icon></button>
    <app-order-selector [id]="'image'" [columnName]="'imageTitle'"></app-order-selector>
    <button type="button" mat-icon-button (click)="view.logout()"><mat-icon>logout</mat-icon></button>
  </ng-container>

  <!-- select mode -->
  <ng-container class="tool-container select-tool" *ngIf="masonry.selectMode">
    <span class="flex-padding">
      {{masonry.selectCount?'Selected: '+masonry.selectCount:'No selected'}}
    </span>

    <button mat-icon-button (click)="addTag()"><mat-icon>add_circle</mat-icon></button>
    <button mat-icon-button (click)="removeTag()"><mat-icon>remove_circle</mat-icon></button>
    <button mat-icon-button (click)="masonry.selectAll()">
      <mat-icon>{{masonry.selectCount==masonry.items.length?'check_circle':'check_circle_outline'}}</mat-icon>
    </button>
    <button mat-icon-button (click)="masonry.toggleSelectMode()"><mat-icon>close</mat-icon></button>

  </ng-container>

</mat-toolbar>

<!-- Add Content Here -->
<div class="mat-content">

  <div class="search-box">
    <app-filter-input #filterInputRef
                      (onChange)="search($event)"
                      [allTags]="tagService.allTags"
                      [placeholder]="'Search'"></app-filter-input>
  </div>

  <div class="paging-button" *ngIf="page>0">
    <div (click)="toPage(page-1)">
      <div>Previous Page</div>
      <div class="count">{{(page-1)*imageService.limit}} - {{page*imageService.limit-1}}</div>
    </div>
  </div>

  <div class="masonry-container">
    <app-masonry #masonryRef [template]="template"></app-masonry>
    <ng-template #template let-data="data" let-index="index">
      <div class="image-container hide-overflow">
        <app-image-card [image]="data"></app-image-card>
      </div>
    </ng-template>
  </div>

  <div class="paging-button" *ngIf="masonry.allDisplayed&&masonry.items.length==imageService.limit">
    <div (click)="toPage(page+1)">
      <div>Next Page</div>
      <div class="count">{{(page+1)*imageService.limit}} - {{(page+2)*imageService.limit-1}}</div>
    </div>
  </div>

  <div class="bottom-divider">
    <mat-divider></mat-divider>
    <mat-icon>filter_vintage</mat-icon>
    <mat-divider></mat-divider>
  </div>

</div>
