.mat-toolbar {
  height: 64px;
  justify-content: flex-end;
}

.page-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-button>div {
  color: white;
  background-color: #afafaf;
  box-shadow: white 0 0 0;
  min-width: 200px;
  margin: 30px 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 0;
}
.page-button .count {
  font-size: 10px;
}

.bottom-divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.bottom-divider>.mat-divider {
  width: calc(50% - 40px);
}
.bottom-divider>.mat-icon {
  color: #0000001f;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
