.container {
  margin: 0 auto;
}
.masonry-container {
  width: 100%;
}

.background {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  transform: scale(0.92);
  background-color: unset;
  transition: background-color 0.5s;
}
.background-selected {
  background-color: #ffd740;
}

.item-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
}
.item-container-select-mode {
  transform: scale(0.98);
}
.item-container-selected {
  transform: scale(0.9);
}

.item-overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
.item-overlay>.mat-icon {
  position: absolute;
  top: 12px; right: 12px;
  color: #ffd740;
}

.load-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.load-more>button {
  color: white;
  background-color: #afafaf;
  box-shadow: white 0 0 0;
  min-width: 200px;
  margin-top: 60px;
}
.load-more>.small {
  margin: 16px 0 56px;
}
