<div class="container" [style.width.px]="containerWidth">
  <ngx-masonry #masonry class="masonry-container" [options]="masonryOptions" [useImagesLoaded]="false" [updateLayout]="false">
    <ngxMasonryItem *ngFor="let item of displayItems; index as index" [style.width]="view.isMobile?'50%':columnWidth+'px'">
      <div class="item-container"
           [class.item-container-select-mode]="selectMode"
           [class.item-container-selected]="item.selected">

        <ng-container *ngTemplateOutlet="template; context: {data: item.data, index: index}"></ng-container>

        <div class="item-overlay" (click)="item.selected=!item.selected;selectCount=selectCount+(item.selected?1:-1);" *ngIf="selectMode"
             [class.item-overlay-selected]="item.selected"></div>
      </div>
    </ngxMasonryItem>
  </ngx-masonry>

  <div class="load-more" *ngIf="displayItems.length<items.length">
    <button type="button" mat-raised-button (click)="more()">Load More Items</button>
    <div class="small">{{items.length-displayItems.length}} items left</div>
  </div>

</div>
