<mat-toolbar>
  <button type="button" mat-icon-button (click)="view.back()"><mat-icon>arrow_back</mat-icon></button>
  <span class="flex-padding">{{view.config.title}}</span>
  <button color="primary" mat-raised-button (click)="submit()" [disabled]="!valid||view.loading">Save</button>
</mat-toolbar>
<!-- Add Content Here -->
<div class="mat-content">
  <form [formGroup]="mainData" class="edit-box" novalidate>
    <div class="content">

      <mat-form-field class="full-width">
        <input matInput placeholder="Title" maxlength="1024" formControlName="title" autocomplete="off">
      </mat-form-field>

      <div class="full-width">
        <mat-form-field class="half-width">
          <mat-select required placeholder="Type" formControlName="type" [disabled]="mainData.value.id">
            <mat-option *ngFor="let type of types" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-select required placeholder="Permission" formControlName="permission" [disabled]="mainData.value.id&&mainData.value.user!=view.user.id">
            <mat-option *ngFor="let permission of permissions" [value]="permission">
              {{permission|titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="hidden-input hidden-input-open full-width" [hidden]="!typeService.getType(mainData.value.type).extraEdit">
        <div>
          <app-extra-edit #extraDataEdit [type]="mainData.value.type"></app-extra-edit>
        </div>
      </div>

      <div class="hidden-input full-width" [class.hidden-input-open]="showDescription|async">
        <div>
          <button type="button" mat-icon-button (click)="preference.toggle('node-edit@showDescription')">
            <mat-icon>{{(showDescription|async)?'arrow_drop_down':'arrow_right'}}</mat-icon>
          </button>
          <span class="flex-padding">Description {{mainData.value.description?'(+)':''}}</span>
          <mat-form-field class="full-width" *ngIf="showDescription|async">
            <textarea formControlName="description" matInput maxlength="2560" autocomplete="off"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="hidden-input full-width" [class.hidden-input-open]="showComment|async">
        <div>
          <button type="button" mat-icon-button (click)="preference.toggle('node-edit@showComment')">
            <mat-icon>{{(showComment|async)?'arrow_drop_down':'arrow_right'}}</mat-icon>
          </button>
          <span class="flex-padding">Comment {{mainData.value.comment?'(+)':''}}</span>
          <mat-form-field class="full-width" *ngIf="showComment|async">
            <textarea formControlName="comment" matInput maxlength="2560" autocomplete="off"></textarea>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Source Url" maxlength="1024" formControlName="source" autocomplete="off">
      </mat-form-field>

      <div class="full-width">
        <mat-checkbox formControlName="nsfw">Unsafe</mat-checkbox>
        <mat-checkbox formControlName="like">Like</mat-checkbox>
        <mat-checkbox formControlName="hide">Hide</mat-checkbox>
      </div>

      <div class="full-width">
        <mat-checkbox formControlName="part">IsPart</mat-checkbox>
        <mat-checkbox formControlName="collection">IsCollection</mat-checkbox>
      </div>

      <div class="full-width button-box">
        <mat-form-field class="full-width">
          <input matInput disabled [placeholder]="tags.length?'Tags':'No tags'" [value]="getTagsInfo()">
          <mat-hint>
            <span *ngIf="othersTags.length>0">+{{othersTags.length}} from others</span>
          </mat-hint>
          <button type="button" mat-button matSuffix (click)="selectTags()"><mat-icon>edit</mat-icon></button>
        </mat-form-field>
      </div>

      <div class="full-width button-box">
        <button type="button" mat-raised-button (click)="draft()" [color]="hasDraft?'accent':null">Draft</button>
        <button type="button" mat-raised-button (click)="delete()" *ngIf="mainData.value.id">Delete</button>
        <button type="button" color="primary" mat-raised-button (click)="submit()" [disabled]="!valid||view.loading">Save</button>
      </div>
    </div>
  </form>
</div>
