<mat-toolbar>
  <button type="button" mat-icon-button (click)="view.back()"><mat-icon>arrow_back</mat-icon></button>
  <span>{{view.config.title}}</span>
  <button color="primary" mat-raised-button (click)="submit()" [disabled]="!valid||view.loading">Save</button>
</mat-toolbar>
<!-- Add Content Here -->
<div class="mat-content">
  <form [formGroup]="mainData" class="edit-box" novalidate (ngSubmit)="submit()">
    <div class="content">

      <mat-form-field class="full-width">
        <input matInput placeholder="Title" maxlength="255" formControlName="title" autocomplete="off">
      </mat-form-field>

      <div class="full-width">
        <mat-form-field class="half-width">
          <mat-select required placeholder="Type" formControlName="type" [disabled]="mainData.value.id">
            <mat-option *ngFor="let type of types" [value]="type">{{type|titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="half-width">
          <mat-select required placeholder="Permission" formControlName="permission" [disabled]="mainData.value.id&&mainData.value.user!=view.user.id">
            <mat-option *ngFor="let permission of permissions" [value]="permission|lowercase">{{permission}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-extra-data-edit #extraDataEdit [type]="mainData.value.type"></app-extra-data-edit>

      <mat-form-field class="full-width">
        <input matInput placeholder="Source Url" maxlength="255" formControlName="source" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" maxlength="2550" formControlName="description" autocomplete="off"></textarea>
      </mat-form-field>

      <div class="full-width">
        <mat-checkbox formControlName="nsfw">Unsafe</mat-checkbox>
        <mat-checkbox formControlName="like">Like</mat-checkbox>
        <mat-checkbox formControlName="hide">Hide</mat-checkbox>
      </div>

      <div class="full-width">
        <mat-checkbox formControlName="part">IsPart</mat-checkbox>
        <mat-checkbox formControlName="collection">IsCollection</mat-checkbox>
      </div>

      <div class="full-width button-box">
        <mat-form-field class="full-width">
          <input matInput disabled [placeholder]="tags.length?'Tags':'No tags'" [value]="getTagsInfo()">
          <mat-hint>
            <span *ngIf="othersTags.length>0">+{{othersTags.length}} from others</span>
          </mat-hint>
          <button type="button" mat-button matSuffix (click)="selectTags()"><mat-icon>edit</mat-icon></button>
        </mat-form-field>
      </div>

      <div class="full-width button-box">
        <button type="button" mat-raised-button (click)="delete()" *ngIf="mainData.value.id">Delete</button>
        <button type="button" color="primary" mat-raised-button (click)="submit()" [disabled]="!valid||view.loading">Save</button>
      </div>
    </div>
  </form>
</div>
