.content {
  width: calc(100% - 64px);
  max-width: 400px;
  margin: 24px auto;
}

.mat-raised-button {
  box-shadow: white 0 0 0;
}
.mat-checkbox {
  margin-right: 12px;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
.button-box>button {
  margin: 0 8px;
}

.hidden-input {
  margin: 8px 0;
}
.hidden-input-open {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
}
.hidden-input span {
  color: gray;
}
.hidden-input>div {
  margin: 8px;
}

